<app-header></app-header>
<div class="container margin-top90 margin-bottom80">
  <form novalidate [formGroup]="formulario" (ngSubmit)="getData()">
    <div class="form-group">
      <label>Nombre</label>
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Nombre de la ruta"
        formControlName="name"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.name.errors?.required &&
          formulario.controls.name.touched
        "
      >
        El campo es obligatorio
      </p>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input
        type="text"
        name="description"
        class="form-control"
        placeholder="Descripción de la ruta"
        formControlName="description"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.description.errors?.required &&
          formulario.controls.description.touched
        "
      >
        El campo es obligatorio
      </p>
    </div>
    <div class="form-group">
      <label>Duración</label>
      <input
        type="text"
        name="time"
        class="form-control"
        placeholder="Duración de la ruta"
        formControlName="time"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.time.errors?.required &&
          formulario.controls.time.touched
        "
      >
        El campo es obligatorio
      </p>
    </div>
    <div class="form-group">
      <label>Kilómetros</label>
      <input
        type="text"
        name="length"
        class="form-control"
        placeholder="Kilómetros que comprende la ruta"
        formControlName="length"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.length.errors?.required &&
          formulario.controls.length.touched
        "
      >
        El campo es obligatorio
      </p>
    </div>
    <div class="form-group">
      <label>Desnivel</label>
      <input
        type="text"
        name="slope"
        class="form-control"
        placeholder="Cuántos kilómetros salva la ruta"
        formControlName="slope"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.slope.errors?.required &&
          formulario.controls.slope.touched
        "
      >
        El campo es obligatorio
      </p>
    </div>
    <div class="form-check">
      <label>Circular</label>
      <div>
        <input
          class="form-check-input"
          type="radio"
          name="circular"
          id="circular-true"
          value="true"
          formControlName="circular"
        />
        <label class="form-check-lable" for="circular-true">Sí</label>
      </div>
      <div>
        <input
          class="form-check-input"
          type="radio"
          name="circular"
          id="curcular-false"
          value="false"
          formControlName="circular"
        />
        <label class="form-check-lable" for="circular-false">No</label>
      </div>
    </div>

    <div class="form-group">
      <label>Comunidad autónoma</label>
      <input
        type="text"
        name="province"
        class="form-control"
        placeholder="En qué comunidad autónoma se encunetra"
        formControlName="province"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.province.errors?.required &&
          formulario.controls.province.touched
        "
      >
        El campo es obligatorio
      </p>
    </div>
    <div class="form-group">
      <label>Coordenadas</label>
      <input
        type="text"
        name="latitude"
        class="form-control"
        placeholder="Latitud"
        formControlName="latitude"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.latitude.errors?.required &&
          formulario.controls.latitude.touched
        "
      >
        El campo es obligatorio
      </p>
      <input
        type="text"
        name="longitude"
        class="form-control"
        placeholder="Longitud"
        formControlName="longitude"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.longitude.errors?.required &&
          formulario.controls.longitude.touched
        "
      >
        El campo es obligatorio
      </p>
    </div>
    <div class="form-group">
      <label>Cómo llegar</label>
      <input
        type="text"
        name="transport"
        class="form-control"
        placeholder="Por qué medios de transporte se puede acceder"
        formControlName="transport"
      />
      <p
        class="error"
        *ngIf="
          formulario.controls.transport.errors?.required &&
          formulario.controls.transport.touched
        "
      >
        El campo es obligatorio
      </p>
    </div>
    <input
      [disabled]="!formulario.valid"
      type="submit"
      class="btn btn-warning m-4"
      value="Enviar"
    />
  </form>
</div>
